extends layout

block content
    h1= title
    - let items = results 
    table(class="table table-stripped table-bordered")
        thead
            tr 
                td Item ID
                td Costume Type
                td Size 
                td Cost 
                td Update
        tbody 
            each item in items 
                -let itemid=item._id
                tr
                    td #{item._id}
                    td #{item.costume_type}
                    td #{item.size}
                    td #{item.cost}
                    td 
                        button.btn( class="btn-primary ml-1", onclick= `dispatch(\"/costumes/update/?id=${item._id}\")` ) Update 

                script. 
                  function dispatch(path){ 
                    window.location.href=path 
                  }